<div id="content"></div>

<script type="text/javascript">

  // base T1P service
  var base_uri = 'https://auth.the-1-card.com'
  var base_auth_url = base_uri + '/authenservice/op'

  // client_id and client_secret are generated from T1P admin and sent to each BU.
  // uat
  var client_id     = 'b6e3effd-265e-4118-ac78-9c720672df84'
// prod
  var client_id     = 'a9dc11ae-2d42-4088-8c06-ddd0c312e16c'
  var url_bu = 'https://auth.the-1-card.com/example/'

  var successResult = function(value) { return ({ success: true, value: value }) }
  var failureResult = function(value) { return ({ success: false, value: value }) }

  var getResponse = function() { return location.hash.substring(1) }

  var extractToken = function(response) {
    var regex = /([^&=]+)=([^&]*)/g
    var params = {}, m
    while (m = regex.exec(response)) {
      params[decodeURIComponent(m[1])] = decodeURIComponent(m[2])
    }
    return params
  }

  var getClaimsFromIdToken = function(token) {
    var arr = token.split('.')
    return JSON.parse(atob(arr[1]))
  }

  var setCookie = function(key, value) { document.cookie = key+'='+encodeURIComponent(JSON.stringify(value)) }

  var CLOCK_TOLERANCE = 5 /* seconds */

  // Claims verification is moved to client side due to implicit callback with fragment.
  var verifyClaims = function(claims) {
    var errors = ['iss', 'sub', 'aud', 'exp', 'iat']
                            .filter(function(field) { return claims[field] === undefined })
                            .map(function(field) { return 'missing required JWT property ' + field })
    var current_time = Math.round((new Date()).getTime()/1000)
    var CLOCK_TOLERANCE = 5
    if (claims.iss !== base_auth_url) errors.push('id_token unexpected issuer: ' + claims.iss)
    if (claims.aud !== client_id) errors.push('id_token  client_id: ' + claims.aud)
    if (claims.exp < current_time) errors.push('id_token expired')
    if (claims.iat > (current_time + CLOCK_TOLERANCE)) errors.push('id_token issued in the future')

    return errors.length > 0
            ? failureResult(errors)
            : successResult(claims)
  }

  main()

  function main() {
    var params = extractToken( getResponse() )
    // console.log('params',params)
    var claims = getClaimsFromIdToken( params.id_token )
    
    var result = verifyClaims(claims)
    if (result.success){
      // keep token in cookie
      setCookie('token', params)
      setCookie('claims', claims)

      window.location.replace(url_bu);
    } else {
      result.value.forEach(appendBody)
      document.getElementById("chatbot").innerHTML += '<a href="/example/chatbot?access_token='+claims.customer_mobile_id+'">Chatbot</a>';
    }
  }

  function appendBody(html){
    document.getElementById("content").innerHTML += '<p>'+html+'</p>';
  }
</script>