<p>response error params (http code 4xx,5xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "table_bar.html" %}
        <tbody>
            <tr>
                <td>error_code</td>
                <td>xxx</td>
                <td>String</td>
                <td>Yes</td>
                <td>Error code status. </td>
            </tr>
            <tr>
                <td>message</td>
                <td></td>
                <td>String</td>
                <td>Yes</td>
                <td>Description.</td>
            </tr>
        </tbody>
    </table>
</div>