<!DOCTYPE html>
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% include "header.html" %}
<body>
<div class="LyWrap">

<!--CONTENTS-AREA-->
<div class="LyContents">
<div class="lyContentsInner MdCF">

<!--MAIN-CONTENTS-AREA-->
<div class="LyMainWrap">
  {% include "menu.html" %}
  <div class="LyMain ExFluid" role="main">
    <div class="lyMainContent" style="padding-top: 40px;"></div>
  </div>
</body>
</html>

<style type="text/css">
.btn_login {
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 44px;
  color: #000;
  background-color: #fff;
  margin: 40px auto;
  letter-spacing: 1px;
  max-width: 900px
}

</style>

<style type="text/css">
    @charset "UTF-8";
/*
==================================================
Reset, Base
==================================================
*/
/*
--------------------------------------------------
@:Reset Style
--------------------------------------------------
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  /* margin: 0;
  padding: 0; */
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

nav, ol, ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea {
  line-height: 1.61538;
  color: #333333;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

select,
input,
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, cite {
  font-style: normal;
}

table, th, td {
  border: none;
}

fieldset {
  border: none;
}

fieldset legend {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

/*
--------------------------------------------------
@:Default Style
--------------------------------------------------
*/
body {
  line-height: 1.61538;
  color: #333333;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a:link, a:visited {
  color: #54a3e0;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #54a3e0;
  text-decoration: underline;
}

/*
==================================================
Layout
==================================================
*/
/*
--------------------------------------------------
@:Body, LyWrap
--------------------------------------------------
*/
body {
  min-width: 768px;
  background: #ffffff;
}

.LyWrap {
  position: relative;
  margin: 0 auto;
}

/*
--------------------------------------------------
@:Header
--------------------------------------------------
*/
.LyHead {
  height: 72px;
  background-color: #41c000;
}

.lyHeadInner {
  position: relative;
  min-width: 768px;
}

/*
--------------------------------------------------
@:Contents
--------------------------------------------------
*/
.LyContents {
  position: relative;
  min-width: 768px;
}

.LyMainWrap {
  width: 100%;
}
.pageAPI .LyMainWrap {
  background-color: #f8f8f8;
}

.LyMain {
  min-width: 840px;
}
.LyMain.ExFluid {
  width: auto;
}
.pageDocsTop .LyMain {
  background-image: url(../img/bg_docs_top.png);
  background-repeat: repeat-x;
  background-position: 0 57px;
}

.lyMainHead {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 57px;
  background-color: #545454;
  color: #fff;
}
.lyMainHead.ExFixed {
  position: fixed;
  top: 0;
  max-width: calc(100% - 270px);
}

.lyMainContent {
  min-width: 740px;
  max-width: 1200px;
  margin-left: 300px;
  padding: 40px 50px 60px;
}

.lyMainFoot {
  position: relative;
  width: 100%;
}

.LySub {
  position: relative;
  z-index: 3000;
  width: 301px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.LySub:before {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  top: 72px;
  left: 300px;
  z-index: -1;
  height: 100%;
  width: 1px;
  background-color: #e5e5e5;
}
.LySub.ExFixed {
  position: fixed;
  top: 0;
}
.LySub.ExFixed:before {
  position: fixed;
  top: 0;
}

@media only screen and (min-width: 1130px) {
  .LyMainWrap {
    float: right;
  }

  .LySub {
    float: left;
    margin-right: -270px;
  }
}
@media only screen and (min-width: 0) and (max-width: 1129px) {
  .LyMain {
    min-width: 740px;
    margin: 0 auto;
  }

  .lyMainHead.ExFixed {
    min-width: 740px;
    max-width: 100%;
  }

  .lyMainContent {
    padding-right: 14px;
    padding-left: 14px;
  }

  .LySub {
    display: none;
    position: absolute;
    top: 0;
  }
}
/*
==================================================
Extend
==================================================
*/
.MdCMN09Flow .mdCMN09Step:after, .MdCMN19Download:after {
  content: "";
  display: block;
  clear: both;
}

.MdGHD01Ttl, .MdSB01Nav span.mdSB01Label:after, .MdCMN03PageTop > a, .MdCMN04PageNav .mdCMN04Prev:before,
.MdCMN04PageNav .mdCMN04Next:before, .MdCMN08Flow .mdCMN08Label:after, .MdDOC01GetStarted .mdDOC01Ttl > a:after {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.MdCMN02TopicPath li + li:before, .MdCMN06Desc .mdCMN06Ttl01:before, .MdCMN07ChannelInfo .mdCMN07Ico, .MdCMN18Link:hover:after, .MdCMN19Download .mdCMN19Btn:before, .MdCMN16SearchBox .mdCMN16Btn > span {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.MdSeparator01P01 {
  display: inline-block;
  width: 0;
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  vertical-align: -1px;
  height: 11px;
}

h1, [class*=MdTtl01P] {
  font-size: 40px;
  line-height: 50px;
  margin-top: -5px;
  margin-bottom: 25px;
  color: #333;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2, [class*=MdTtl02P] {
  font-size: 30px;
  line-height: 40px;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #333;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4, [class*=MdTtl04P], h3, [class*=MdTtl03P] {
  font-size: 23px;
  line-height: 30px;
  margin-top: -3px;
  margin-bottom: 16px;
  color: #333;
  font-weight: bold;
}

h4, [class*=MdTtl04P] {
  font-weight: normal;
}

h5, [class*=MdTtl05P] {
  font-size: 20px;
  line-height: 36px;
  margin-top: -8px;
  margin-bottom: 18px;
  color: #333;
}

p, [class*=MdTxt01P] {
  font-size: 13px;
  line-height: 1.61538;
  margin-top: -4px;
  margin-bottom: 12px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.LyMain p:last-child, .LyMain [class*=MdTxt01P]:last-child {
  margin-bottom: -4px;
}

ul li, ol li {
  margin: 9px 0 0 20px;
}
ul li:first-child, ol li:first-child {
  margin-top: 0;
}

ul, ol {
  margin: 0 0 15px 20px;
}
ul ul, ol ul {
  margin-top: 6px;
}
ul ul > li, ol ul > li {
  list-style-type: circle;
}
ul ol, ol ol {
  margin-top: 6px;
}

ul > li {
  list-style-type: disc;
}

ol > li {
  list-style-type: decimal;
}

.MdBtn01P01, .MdBtn01P02, .MdBtn01P03, .MdBtn01P04, .MdBtn01P05, .MdBtn01P06 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
}

.MdBtn01P01, .MdBtn01P02 {
  min-width: 100px;
  height: 30px;
  line-height: 22px;
  padding: 4px 10px;
  font-size: 10px;
}

.MdBtn01P03, .MdBtn01P04, .MdBtn01P05 {
  min-width: 205px;
  height: 38px;
  line-height: 30px;
  padding: 4px 10px;
  font-size: 13px;
}

.MdBtn01P06 {
  height: 23px;
  line-height: 14px;
  padding: 4px 20px;
  font-size: 11px;
}

.MdBtn01P03 {
  background-color: #000000;
}
.MdBtn01P03, .MdBtn01P03:link, .MdBtn01P03:visited, .MdBtn01P03:hover, .MdBtn01P03:active, .MdBtn01P03:focus {
  color: #ffffff;
  text-decoration: none;
}
.MdBtn01P03:hover, .ExSelected.MdBtn01P03 {
  background-color: #383838;
}

.MdBtn01P01, .MdBtn01P05 {
  border: 1px solid #cfcfcf;
  background-color: #f0f0f0;
}
.MdBtn01P01, .MdBtn01P05, .MdBtn01P01:link, .MdBtn01P05:link, .MdBtn01P01:visited, .MdBtn01P05:visited, .MdBtn01P01:hover, .MdBtn01P05:hover, .MdBtn01P01:active, .MdBtn01P05:active, .MdBtn01P01:focus, .MdBtn01P05:focus {
  color: #7f7f7f;
  text-decoration: none;
}
.MdBtn01P01:hover, .MdBtn01P05:hover, .ExSelected.MdBtn01P01, .ExSelected.MdBtn01P05 {
  border-color: #cfcfcf;
  background-color: #e4e4e5;
}
.ExDisabled.MdBtn01P01, .ExDisabled.MdBtn01P05 {
  cursor: default;
  border-color: #eeeeee;
  background-color: #f7f8f8;
}

.MdBtn01P02, .MdBtn01P04 {
  background-color: #3ac200;
}
.MdBtn01P02, .MdBtn01P04, .MdBtn01P02:link, .MdBtn01P04:link, .MdBtn01P02:visited, .MdBtn01P04:visited, .MdBtn01P02:hover, .MdBtn01P04:hover, .MdBtn01P02:active, .MdBtn01P04:active, .MdBtn01P02:focus, .MdBtn01P04:focus {
  color: #ffffff;
  text-decoration: none;
}
.MdBtn01P02:hover, .MdBtn01P04:hover, .ExSelected.MdBtn01P02, .ExSelected.MdBtn01P04 {
  background-color: #009e00;
}
.ExDisabled.MdBtn01P02, .ExDisabled.MdBtn01P04 {
  cursor: default;
  background-color: #d6f6c9;
}

.MdBtn01P06 {
  border: 1px solid #999999;
  background-color: #ffffff;
}
.MdBtn01P06, .MdBtn01P06:link, .MdBtn01P06:visited, .MdBtn01P06:hover, .MdBtn01P06:active, .MdBtn01P06:focus {
  color: #333333;
  text-decoration: none;
}
.MdBtn01P06:hover, .ExSelected.MdBtn01P06 {
  background-color: #f0f0f0;
}

.MdGHD01Ttl, .MdSB01Nav span.mdSB01Label:after, .MdCMN02TopicPath li + li:before, .MdCMN03PageTop > a, .MdCMN04PageNav .mdCMN04Prev:before,
.MdCMN04PageNav .mdCMN04Next:before, .MdCMN06Desc .mdCMN06Ttl01:before, .MdCMN07ChannelInfo .mdCMN07Ico, .MdCMN08Flow .mdCMN08Label:after, .MdCMN18Link:hover:after, .MdCMN19Download .mdCMN19Btn:before, .MdCMN16SearchBox .mdCMN16Btn > span {
  background-image: url(../img/sprite/main_150212.png);
}

.MdDOC01GetStarted .mdDOC01Ttl > a:after {
  background-image: url(../img/sprite/documents_160925.png);
}

/*
==================================================
Module
==================================================
*/
/*
--------------------------------------------------
from njlib-private/_style-mixin-module.scss
--------------------------------------------------
*/
/* @:MdCF */
.MdCF:after {
  content: "";
  display: block;
  clear: both;
}

/* @:MdHide */
.MdHide {
  position: absolute;
  left: -9999px;
}

/* @:MdNonDisp */
.MdNonDisp {
  display: none !important;
}

/* @:MdFont */
.MdFontB {
  font-weight: bold !important;
}

.MdFontN {
  font-weight: normal !important;
}

/* @:Link Style */
.MdLink01, .MdLink01:link, .MdLink01:visited, .MdLink01:hover, .MdLink01:active, .MdLink01:focus {
  text-decoration: underline !important;
}

.MdLink02, .MdLink02:link, .MdLink02:visited, .MdLink02:hover, .MdLink02:active, .MdLink02:focus {
  text-decoration: none !important;
}

.MdLink03, .MdLink03:link, .MdLink03:visited {
  text-decoration: underline !important;
}
.MdLink03:hover, .MdLink03:active, .MdLink03:focus {
  text-decoration: none !important;
}

.MdLink04, .MdLink04:link, .MdLink04:visited {
  text-decoration: none !important;
}
.MdLink04:hover, .MdLink04:active, .MdLink04:focus {
  text-decoration: underline !important;
}

/*
--------------------------------------------------
基本style
--------------------------------------------------
*/
.MdAlignL {
  text-align: left !important;
}

.MdAlignC {
  text-align: center !important;
}

.MdAlignR {
  text-align: right !important;
}

/* @:MdMargin */
.MdMarginB40 {
  margin-bottom: 40px !important;
}

.MdMarginB80 {
  margin-bottom: 80px !important;
}

/* @:MdColor */
.MdColor02,
.MdColor02:link,
.MdColor02:visited,
.MdColor02:hover,
.MdColor02:active,
.MdColor02:focus {
  color: #35c500;
}

/* @:MdVLine / MdHLine */
.MdSeparator01P01 {
  margin-right: 7px;
  margin-left: 7px;
  border-color: #dadada;
}

/* @:MdAnchor */
[class*=MdAnchor01P] {
  display: block;
  position: relative;
  z-index: -1;
}
[class*=MdAnchor01P]:before {
  content: "";
  display: block;
  height: 87px;
  margin-top: -87px;
}

/*
--------------------------------------------------
Plain Elements
--------------------------------------------------
*/
/*
--------------------------------------------------
Box
--------------------------------------------------
*/
[class*=MdBox01P] {
  min-width: 740px;
  max-width: 1200px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*=MdBox01P].ExAlignC {
  margin-right: auto;
  margin-left: auto;
}
[class*=MdBox01P].mdBox01Sz01 {
  width: 740px;
}

.MdBox01P02 {
  margin-bottom: 20px;
}

.MdBox01P03 {
  margin-bottom: 40px;
}

[class*=MdBox02P] {
  position: relative;
  min-width: 740px;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: #fff;
  border-top: 5px solid #5ccfb9;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.17);
}
[class*=MdBox02P].ExAlignC {
  margin-right: auto;
  margin-left: auto;
}
[class*=MdBox02P] .mdBox02Btn {
  position: absolute;
  top: 26px;
  right: 20px;
}

.MdBox02P02 {
  margin-bottom: 100px;
}

[class*=MdBox03P] {
  min-width: 740px;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 20px 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.17);
}
[class*=MdBox03P].ExAlignC {
  margin-right: auto;
  margin-left: auto;
}

.MdBox03P02 {
  margin-bottom: 100px;
}

[class*=MdBox04P] {
  min-width: 740px;
  max-width: 900px;
  border: 1px solid #ddd;
  padding: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*=MdBox04P].ExAlignC {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1130px) {
  [class*=MdBox01P].mdBox01Sz01 {
    width: 740px;
  }
}
@media only screen and (min-width: 0) and (max-width: 1129px) {
  [class*=MdBox01P].mdBox01Sz01 {
    width: 740px;
  }
}
/*
--------------------------------------------------
Head
--------------------------------------------------
*/
.MdHead01P01 {
  padding-bottom: 30px;
}

/*
--------------------------------------------------
Title
--------------------------------------------------
*/
.MdTtl01P02 {
  margin-bottom: -1px;
}

.MdTtl02P02 {
  margin-bottom: -1px;
}

.MdTtl03P02 {
  margin-bottom: -2px;
}

.MdTtl04P02 {
  margin-bottom: -2px;
}

.MdTtl05P02 {
  margin-bottom: -7px;
}

/*
--------------------------------------------------
Text
--------------------------------------------------
*/
[class*=MdTxt01P]:last-child {
  margin-bottom: -4px;
}

.MdTxt01P02 {
  margin-bottom: -4px;
}

.MdTxt01P03 {
  margin-bottom: 56px;
}

[class*=MdTxt02P] {
  font-size: 18px;
  line-height: 30px;
  margin-top: -6px;
  margin-bottom: 24px;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
[class*=MdTxt02P]:last-child {
  margin-bottom: -6px;
}

.MdTxt02P02 {
  margin-bottom: -6px;
}

/*
--------------------------------------------------
List
--------------------------------------------------
*/
[class*=MdUl01P] {
  margin: 0;
}
[class*=MdUl01P]:last-child {
  margin-bottom: -3px;
}
[class*=MdUl01P] > li {
  list-style: none;
  position: relative;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 7px;
  margin-bottom: -3px;
  padding-left: 16px;
}
[class*=MdUl01P] > li:first-child {
  margin-top: 0;
}
[class*=MdUl01P] > li:before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}

.MdUl01P01 {
  margin-bottom: 27px;
}

.MdUl01P02 {
  margin-bottom: -3px;
}

.MdUl01P03 {
  margin-bottom: 57px;
}

/*
--------------------------------------------------
Table
--------------------------------------------------
*/
[class*=MdTbl01P] {
  overflow-x: auto;
}
[class*=MdTbl01P]:last-child {
  margin-bottom: 0;
}
[class*=MdTbl01P] > table {
  border-right: 1px solid #333333;
}
[class*=MdTbl01P] th,
[class*=MdTbl01P] td {
  font-size: 13px;
  line-height: 1.61538;
  margin-top: -4px;
  margin-bottom: -4px;
  padding: 6px 30px;
  border-left: 1px solid #333333;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
[class*=MdTbl01P] th select,
[class*=MdTbl01P] td select {
  width: 100%;
}
[class*=MdTbl01P] th {
  color: #000;
  text-align: left;
}
[class*=MdTbl01P] td {
  color: #666;
}
[class*=MdTbl01P] thead th {
  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
}
[class*=MdTbl01P] tbody tr:first-child th,
[class*=MdTbl01P] tbody tr:first-child td {
  padding-top: 12px;
}
[class*=MdTbl01P] caption {
  text-align: left;
  font-weight: bold;
}

.MdTbl01P01 {
  margin-bottom: 30px;
}

.MdTbl01P02 {
  margin-bottom: 0;
}

.MdTbl01P03 {
  margin-bottom: 60px;
}

[class*=MdTbl02P] {
  overflow-x: auto;
}
[class*=MdTbl02P]:last-child {
  margin-bottom: 0;
}
[class*=MdTbl02P] tr > *:nth-child(even) {
  background-color: #fbfbfb;
}
[class*=MdTbl02P] tr > *:first-child {
  padding-left: 0;
}
[class*=MdTbl02P] th,
[class*=MdTbl02P] td {
  font-size: 13px;
  line-height: 1.61538;
  margin-top: -4px;
  margin-bottom: -4px;
  padding: 12px 30px;
  border-bottom: 1px solid #d6d6d6;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;
}
[class*=MdTbl02P] th select,
[class*=MdTbl02P] td select {
  width: 100%;
}
[class*=MdTbl02P] th {
  color: #000;
  text-align: left;
}
[class*=MdTbl02P] td {
  color: #666;
}
[class*=MdTbl02P] thead th {
  border-bottom: 1px solid #000;
  font-weight: bold;
}
[class*=MdTbl02P] caption {
  text-align: left;
  font-weight: bold;
}

.MdTbl02P01 {
  margin-bottom: 30px;
}

.MdTbl02P02 {
  margin-bottom: 0;
}

.MdTbl02P03 {
  margin-bottom: 60px;
}

/*
--------------------------------------------------
Form
--------------------------------------------------
*/
/*
--------------------------------------------------
Button
--------------------------------------------------
*/
/*
--------------------------------------------------
Icon
--------------------------------------------------
*/
/*
--------------------------------------------------
Overlay
--------------------------------------------------
*/
.MdOverlay01 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.MdOverlay02 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/*
--------------------------------------------------
@:GHD Module
--------------------------------------------------
*/
.MdGHD01Ttl {
  width: 154px;
  height: 18px;
  background-position: -690px -34px;
  position: absolute;
  top: 27px;
  left: 30px;
  margin: 0;
}
.MdGHD01Ttl > a {
  display: block;
  width: 100%;
  height: 100%;
}

.MdGHD02Nav {
  position: absolute;
  top: 18px;
  right: 30px;
}
.MdGHD02Nav > ul {
  margin: 0;
}
.MdGHD02Nav li {
  display: table-cell;
  list-style: none;
}
.MdGHD02Nav li > a {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 11px;
  color: #fff !important;
}
.MdGHD02Nav li > a:link, .MdGHD02Nav li > a:visited {
  text-decoration: none;
}
.MdGHD02Nav li > a:hover, .MdGHD02Nav li > a:active, .MdGHD02Nav li > a:focus {
  text-decoration: underline;
}
.MdGHD02Nav li.ExSelected {
  background-color: #2faf00;
}

/*
--------------------------------------------------
@:GFT Module
--------------------------------------------------
*/
/*
--------------------------------------------------
@:SB Module
--------------------------------------------------
*/
.MdSB01Nav {
  padding-top: 14px;
}
.MdSB01Nav > nav {
  margin-bottom: 22px;
}
.MdSB01Nav h1 {
  height: 38px;
  line-height: 38px;
  margin: 0;
  padding: 0 50px 0 30px;
  font-size: 13px;
  font-weight: bold;
}
.MdSB01Nav ul {
  margin: 0;
}
.MdSB01Nav li {
  list-style: none;
  margin: 0;
}
.MdSB01Nav .mdSB01Ul01 {
  font-family: Arial, Helvetica, sans-serif;
}
.MdSB01Nav .mdSB01Ul01 > li.ExSelected .mdSB01Ul02 {
  display: block;
}
.MdSB01Nav .mdSB01Ul01 > li.ExSelected a.mdSB01Label {
  font-weight: bold;
  color: #41c000 !important;
}
.MdSB01Nav .mdSB01Ul01 > li.ExSelected span.mdSB01Label:after {
  background-position: -681px -136px;
}
.MdSB01Nav .mdSB01Label {
  cursor: pointer;
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 50px 0 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  font-size: 14px;
}
.MdSB01Nav .mdSB01Label:hover {
  text-decoration: underline;
}
.MdSB01Nav a.mdSB01Label {
  color: inherit !important;
}
.MdSB01Nav span.mdSB01Label:after {
  content: "";
  width: 12px;
  height: 8px;
  background-position: -665px -136px;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
}
.MdSB01Nav .mdSB01Ul02 {
  display: none;
  margin-bottom: 20px;
}
.MdSB01Nav .mdSB01Ul02 li > a {
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 50px 0 70px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666 !important;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdSB01Nav .mdSB01Ul02 li > a:link, .MdSB01Nav .mdSB01Ul02 li > a:visited {
  text-decoration: none;
}
.MdSB01Nav .mdSB01Ul02 li > a:hover, .MdSB01Nav .mdSB01Ul02 li > a:active, .MdSB01Nav .mdSB01Ul02 li > a:focus {
  text-decoration: underline;
}
.MdSB01Nav .mdSB01Ul02 li.ExSelected > a {
  color: #47be21 !important;
  font-weight: bold;
}

.MdSB02Link {
  margin-top: 60px;
  margin-left: 30px;
}
.MdSB02Link a {
  font-size: 13px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  color: #999 !important;
}
.MdSB02Link a:link, .MdSB02Link a:visited {
  text-decoration: none;
}
.MdSB02Link a:hover, .MdSB02Link a:active, .MdSB02Link a:focus {
  text-decoration: underline;
}
.MdSB02Link ul {
  margin: 0;
}
.MdSB02Link li {
  list-style: none;
  margin: 30px 0 0;
}
.MdSB02Link li:first-child {
  margin-top: 0;
}

.MdSB03Copy {
  font-size: 13px;
  line-height: 31px;
  margin-top: 91px;
  margin-left: 30px;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: #ccc;
}
.MdSB03Copy b {
  font-weight: normal;
}

.MdSB05Util {
  position: relative;
  margin: 40px 0 -30px 30px;
  padding-bottom: 30px;
}
.MdSB05Util:after {
  content: "";
  position: relative;
  top: 30px;
  display: block;
  width: 7px;
  height: 1px;
  background-color: #c4c4c4;
}
.MdSB05Util .mdSB05User {
  color: #333;
}
.MdSB05Util > ul {
  margin: 0;
}
.MdSB05Util > ul > li {
  list-style: none;
  margin: 0;
}
.MdSB05Util > ul a {
  font-size: 13px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  color: #999 !important;
}
.MdSB05Util > ul a:link, .MdSB05Util > ul a:visited {
  text-decoration: none;
}
.MdSB05Util > ul a:hover, .MdSB05Util > ul a:active, .MdSB05Util > ul a:focus {
  text-decoration: underline;
}

/*
--------------------------------------------------
@:External Library
--------------------------------------------------
*/
pre.prettyprint {
  color: #ffffff;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333333;
}

pre .nocode {
  background-color: none;
  color: #000000;
}

pre .str {
  color: #ffa0a0;
}

/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

pre .com {
  color: #87ceeb;
}

/* comment - skyblue */
pre .typ {
  color: #98fb98;
}

/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}

/* literal - darkred */
pre .pun {
  color: #ffffff;
}

/* punctuation */
pre .pln {
  color: #ffffff;
}

/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}

/* attribute value - pink */
pre .dec {
  color: #98fb98;
}

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }

  pre .str, code .str {
    color: #006600;
  }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit, code .lit {
    color: #004444;
  }

  pre .pun, code .pun {
    color: #444400;
  }

  pre .pln, code .pln {
    color: #000000;
  }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn, code .atn {
    color: #440044;
  }

  pre .atv, code .atv {
    color: #006600;
  }
}
.prettyprint {
  font-size: 13px;
  line-height: 18px;
  margin-top: -2px;
  margin-bottom: 13px;
  padding: 20px;
  word-wrap: break-word;
}
.prettyprint ol.linenums {
  list-style-type: decimal;
  padding-left: 30px;
}
[class*=MdBox02P] .prettyprint, [class*=MdBox03P] .prettyprint {
  margin-left: -20px;
  margin-right: -20px;
}
[class*=MdBox02P] .prettyprint:last-child, [class*=MdBox03P] .prettyprint:last-child {
  margin-bottom: -30px;
}

/*
==================================================
Contents Specific Style
==================================================
*/
.MdCMN01NavBtn {
  display: none;
  position: relative;
  width: 52px;
  height: 52px;
}
.LyMain .lyMainHead .MdCMN01NavBtn {
  position: absolute;
  top: 2px;
  left: 0;
}

.MdCMN02TopicPath {
  line-height: 57px;
  color: #fff;
  font-size: 18px;
}
.MdCMN02TopicPath ol {
  margin: 0;
}
.MdCMN02TopicPath li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.MdCMN02TopicPath li + li:before {
  width: 10px;
  height: 14px;
  background-position: -910px -34px;
  content: "";
  margin-right: 10px;
  margin-left: 6px;
}
.MdCMN02TopicPath a {
  color: #fff !important;
}
.MdCMN02TopicPath a:link, .MdCMN02TopicPath a:visited {
  text-decoration: none;
}
.MdCMN02TopicPath a:hover, .MdCMN02TopicPath a:active, .MdCMN02TopicPath a:focus {
  text-decoration: underline;
}

.MdCMN03PageTop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.MdCMN03PageTop > a {
  width: 50px;
  height: 50px;
  background-position: -92px 0px;
}

.MdCMN04PageNav {
  display: table;
  position: relative;
  width: 100%;
}
.MdCMN04PageNav .mdCMN04Prev,
.MdCMN04PageNav .mdCMN04Next {
  display: table-cell;
  width: 50%;
  height: 120px;
  background-color: #545454;
  color: #ffffff;
  text-decoration: none !important;
  vertical-align: middle;
}
.MdCMN04PageNav .mdCMN04Prev:before,
.MdCMN04PageNav .mdCMN04Next:before {
  content: "";
  width: 19px;
  height: 36px;
  background-position: -285px -43px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
.MdCMN04PageNav .mdCMN04Prev:hover,
.MdCMN04PageNav .mdCMN04Next:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline !important;
}
.MdCMN04PageNav .mdCMN04Prev:hover:before,
.MdCMN04PageNav .mdCMN04Next:hover:before {
  opacity: 0.5;
}
.MdCMN04PageNav .mdCMN04Prev {
  padding-left: 96px;
  background-color: #666;
}
.MdCMN04PageNav .mdCMN04Prev:before {
  left: 60px;
}
.MdCMN04PageNav .mdCMN04Next {
  padding-right: 120px;
  text-align: right;
}
.MdCMN04PageNav .mdCMN04Next:before {
  right: 80px;
  width: 19px;
  height: 36px;
  background-position: -262px -43px;
}
.MdCMN04PageNav .mdCMN04Label {
  display: block;
  font-size: 12px;
  line-height: 1;
  padding-top: 5px;
}
.MdCMN04PageNav .mdCMN04Ttl {
  font-size: 20px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: -1px;
}

.MdCMN05Content {
  margin-bottom: 50px;
}
.MdCMN05Content .mdCMN05Item {
  margin-bottom: 30px;
}
.MdCMN05Content .mdCMN05Item:last-child {
  margin-bottom: 0;
}
.MdCMN05Content .mdCMN05TxtBody {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.MdCMN05Content .mdCMN05Media {
  vertical-align: top;
}
.MdCMN05Content .mdCMN05Media img {
  vertical-align: top;
}
.MdCMN05Content .mdCMN05Ttl01 {
  font-size: 14px;
  line-height: 24px;
  margin-top: -5px;
  margin-bottom: 25px;
  font-weight: bold;
}

.MdCMN06Desc {
  width: 740px;
  margin-bottom: 40px;
  padding: 50px 50px 50px 100px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
.MdCMN06Desc > *:last-child {
  margin-bottom: 0 !important;
}
.MdCMN06Desc .mdCMN06Ttl01 {
  font-size: 22px;
  line-height: 36px;
  margin-top: -7px;
  margin-bottom: 23px;
  position: relative;
  color: #333;
  font-style: italic;
  font-weight: normal;
}
.MdCMN06Desc .mdCMN06Ttl01:before {
  content: "";
  width: 20px;
  height: 16px;
  background-position: -848px -34px;
  position: absolute;
  top: 11px;
  left: -58px;
}
.MdCMN06Desc .mdCMN06Txt01 {
  color: #666;
  font-style: italic;
}
.MdCMN06Desc .MdCMN07ChannelInfo {
  margin-bottom: 30px;
}

.MdCMN07ChannelInfo {
  display: table;
}
.MdCMN07ChannelInfo .mdCMN07Media,
.MdCMN07ChannelInfo .mdCMN07Txt {
  display: table-cell;
  vertical-align: middle;
}
.MdCMN07ChannelInfo .mdCMN07Media {
  padding-right: 20px;
}
.MdCMN07ChannelInfo .mdCMN07Ico {
  width: 88px;
  height: 86px;
  background-position: 0px 0px;
  vertical-align: middle;
}
.MdCMN07ChannelInfo .mdCMN07Desc {
  font-size: 14px;
  line-height: 24px;
  margin-top: -5px;
  margin-bottom: -5px;
  font-weight: bold;
}
.MdCMN07ChannelInfo .mdCMN07Desc th {
  padding-right: 20px;
  text-align: left;
}

.MdCMN08Flow {
  display: table;
}
.MdCMN08Flow > ol {
  margin: 0;
}
.MdCMN08Flow > ol > li {
  display: table-row;
  list-style: none;
  margin: 0;
  line-height: 1.2;
  font-size: 14px;
}
.MdCMN08Flow > ol > li:last-child .mdCMN08Label:after {
  display: none;
}
.MdCMN08Flow > ol > li:last-child .mdCMN08Label,
.MdCMN08Flow > ol > li:last-child .mdCMN08Desc {
  padding-bottom: 0;
}
.MdCMN08Flow .mdCMN08Step1 {
  color: #a4a4a4;
}
.MdCMN08Flow .mdCMN08Step2 {
  color: #848484;
}
.MdCMN08Flow .mdCMN08Step3 {
  color: #606060;
}
.MdCMN08Flow .mdCMN08Step4 {
  color: #ff4200;
}
.MdCMN08Flow .mdCMN08Label {
  display: table-cell;
  position: relative;
  padding-right: 20px;
  padding-bottom: 17px;
  font-weight: bold;
  vertical-align: top;
}
.MdCMN08Flow .mdCMN08Label:after {
  content: "";
  width: 12px;
  height: 7px;
  background-position: -729px -136px;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.MdCMN08Flow .mdCMN08Desc {
  display: table-cell;
  padding-bottom: 17px;
  vertical-align: top;
}

.MdCMN09Flow {
  width: 740px;
  padding: 51px;
  margin-bottom: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/MdCMN09Flow_bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #5ccfb9;
  color: #fff;
}
.MdCMN09Flow .mdCMN09Ttl {
  font-size: 24px;
  line-height: 28px;
  margin-top: -2px;
  margin-bottom: 58px;
  color: #fff;
  font-weight: normal;
}
.MdCMN09Flow .mdCMN09Step {
  min-height: 120px;
  padding-bottom: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.MdCMN09Flow .mdCMN09Label {
  font-size: 13px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  float: left;
  width: 123px;
  margin-left: -32px;
}
.MdCMN09Flow .mdCMN09Label span {
  font-size: 50px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: -5px;
  left: 50px;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.MdCMN09Flow .mdCMN09Desc {
  float: left;
  max-width: 547px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.MdCMN09Flow .mdCMN09Desc a {
  color: #fff !important;
  font-style: italic;
}
.MdCMN09Flow .mdCMN09Desc a:link, .MdCMN09Flow .mdCMN09Desc a:visited {
  text-decoration: underline;
}
.MdCMN09Flow .mdCMN09Desc a:hover, .MdCMN09Flow .mdCMN09Desc a:active, .MdCMN09Flow .mdCMN09Desc a:focus {
  text-decoration: none;
}
.MdCMN09Flow .mdCMN09Txt01 {
  font-size: 14px;
  line-height: 31px;
  margin-top: -8px;
  margin-bottom: -9px;
}
.MdCMN09Flow .mdCMN09Txt02 {
  font-size: 14px;
  line-height: 31px;
  margin-top: -8px;
  margin-bottom: 21px;
}
.MdCMN09Flow .mdCMN09Img01 {
  margin: 10px 0 0;
}
.MdCMN09Flow .mdCMN09Img02 {
  margin: 0;
  text-align: center;
}

.MdCMN17Toc {
  min-height: 134px;
  margin-bottom: 20px;
  padding: 20px 18px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/MdCMN17Toc_bg.png);
  background-repeat: no-repeat;
}
.MdCMN17Toc .mdCMN17Ttl {
  font-size: 13px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
  font-weight: bold;
}
.MdCMN17Toc ul {
  margin: 20px 0 0 30px;
  padding: 0;
}
.MdCMN17Toc ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  margin-top: -2px;
  margin-bottom: 11px;
}
.MdCMN17Toc ul + .mdCMN17Ttl {
  margin-top: 25px;
}

.MdCMN18Link {
  display: inline-block;
  color: inherit !important;
  text-decoration: none !important;
}
.MdCMN18Link:hover {
  color: #999 !important;
}
.MdCMN18Link:hover:after {
  content: "";
  width: 20px;
  height: 9px;
  background-position: -602px -136px;
  margin-left: 12px;
  vertical-align: middle;
}

.MdCMN19Download {
  height: 70px;
  margin-bottom: 40px;
}
.MdCMN19Download .mdCMN19Btn {
  float: left;
  width: 235px;
  height: 70px;
  line-height: 70px;
  padding-left: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
}
.MdCMN19Download .mdCMN19Btn:before {
  content: "";
  width: 20px;
  height: 19px;
  background-position: -666px -34px;
  margin-right: 12px;
}
.MdCMN19Download .mdCMN19Option {
  position: relative;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  padding: 0 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.MdCMN19Download .mdCMN19Txt {
  font-size: 20px;
}
.MdCMN19Download .mdCMN19MoreLink {
  position: absolute;
  top: 28px;
  right: 30px;
  line-height: 1;
  font-size: 14px;
}
.MdCMN19Download .mdCMN19MoreLink:link, .MdCMN19Download .mdCMN19MoreLink:visited {
  text-decoration: none;
}
.MdCMN19Download .mdCMN19MoreLink:hover, .MdCMN19Download .mdCMN19MoreLink:active, .MdCMN19Download .mdCMN19MoreLink:focus {
  text-decoration: underline;
}
.MdCMN19Download.mdCMN19Adr .mdCMN19Btn {
  background-color: #82bd00;
}
.MdCMN19Download.mdCMN19Adr .mdCMN19Option {
  background-color: #e7f5c9;
}
.MdCMN19Download.mdCMN19Adr .mdCMN19Txt {
  color: #999;
}
.MdCMN19Download.mdCMN19Adr .mdCMN19MoreLink {
  color: #659300;
}
.MdCMN19Download.mdCMN19Ios .mdCMN19Btn {
  background-color: #000;
}
.MdCMN19Download.mdCMN19Ios .mdCMN19Option {
  background-color: #d2d2d2;
}
.MdCMN19Download.mdCMN19Ios .mdCMN19Txt {
  color: #666;
}
.MdCMN19Download.mdCMN19Ios .mdCMN19MoreLink {
  color: #333;
}

.MdCMN21Code {
  font-size: 13px;
  line-height: 18px;
  margin-top: -2px;
  margin-bottom: -3px;
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  resize: none;
  padding: 20px;
  border: 0;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  word-wrap: break-word;
}
[class*=MdBox02P] .MdCMN21Code, [class*=MdBox03P] .MdCMN21Code {
  margin-left: -20px;
  margin-right: -20px;
}
[class*=MdBox02P] .MdCMN21Code:last-child, [class*=MdBox03P] .MdCMN21Code:last-child {
  margin-bottom: -30px;
}

.MdDOC01GetStarted {
  max-width: 740px;
  margin-bottom: 80px;
}
.MdDOC01GetStarted .mdDOC01Head {
  margin-bottom: 30px;
}
.MdDOC01GetStarted .mdDOC01HeadTtl {
  font-size: 38px;
  line-height: 40px;
  margin-top: -1px;
  margin-bottom: 29px;
  color: #333;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.MdDOC01GetStarted .mdDOC01Lead {
  font-size: 22px;
  line-height: 37px;
  margin-top: -7px;
  margin-bottom: 0;
  font-family: 'Roboto light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.MdDOC01GetStarted .mdDOC01Index {
  display: table;
  margin: 0 40px;
}
.MdDOC01GetStarted .mdDOC01Ttl {
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding-top: 238px;
  font-weight: bold;
  text-align: center;
}
.MdDOC01GetStarted .mdDOC01Ttl > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -101px;
}
.MdDOC01GetStarted .mdDOC01Desc {
  margin-bottom: -9px;
}
.MdDOC01GetStarted .mdDOC01Item {
  display: table-cell;
  width: 290px;
  padding-right: 80px;
}
.MdDOC01GetStarted .mdDOC01Item:last-child {
  padding-right: 0;
}
.MdDOC01GetStarted .mdDOC01LL .mdDOC01Ttl > a {
  color: #ffa900 !important;
}
.MdDOC01GetStarted .mdDOC01LL .mdDOC01Ttl > a:after {
  width: 202px;
  height: 202px;
  background-position: 0px 0px;
}
.MdDOC01GetStarted .mdDOC01API .mdDOC01Ttl > a {
  color: #457df0 !important;
}
.MdDOC01GetStarted .mdDOC01API .mdDOC01Ttl > a:after {
  width: 202px;
  height: 202px;
  background-position: -206px 0px;
}

.MdCMN14Timeline {
  width: 740px;
}
.MdCMN14Timeline .mdCMN14Dl > dt {
  float: right;
  width: 120px;
  text-align: right;
}
.MdCMN14Timeline .mdCMN14Dl > dd {
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdCMN14Timeline a {
  color: inherit !important;
}
.MdCMN14Timeline a:link, .MdCMN14Timeline a:visited {
  text-decoration: none;
}
.MdCMN14Timeline a:hover, .MdCMN14Timeline a:active, .MdCMN14Timeline a:focus {
  text-decoration: underline;
}

.MdCMN15SR .mdCMN15Item {
  position: relative;
  margin-bottom: 40px;
  padding-top: 20px;
}
.MdCMN15SR .mdCMN15Item:last-child {
  margin-bottom: 0;
}
.MdCMN15SR .mdCMN15Ttl {
  font-size: 22px;
  line-height: 36px;
  margin-top: -7px;
  margin-bottom: 3px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdCMN15SR .mdCMN15Ttl > a {
  color: #333 !important;
}
.MdCMN15SR .mdCMN15Info {
  font-size: 13px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  color: #41c000;
  font-weight: bold;
}
.MdCMN15SR .mdCMN15Txt {
  word-wrap: break-word;
}
.MdCMN15SR .mdCMN15Txt > a {
  color: #666 !important;
}

.MdCMN16SearchBox {
  position: absolute;
  top: 14px;
  right: 50px;
}
.MdCMN16SearchBox input[type=text] {
  width: 250px;
  height: 32px;
  padding: 10px 34px 10px 15px;
  border: 0;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px #606060;
  background-color: #3d3d3d;
  color: #fff;
}
.MdCMN16SearchBox input[type=text] ::-webkit-input-placeholder {
  color: #008000;
}
.MdCMN16SearchBox input[type=text] ::-moz-placeholder {
  color: #008000;
}
.MdCMN16SearchBox input[type=text] :-ms-input-placeholder {
  color: #008000;
}
.MdCMN16SearchBox .mdCMN16Btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  width: 26px;
  height: 32px;
  padding: 0;
  background: none;
  border: none;
}
.MdCMN16SearchBox .mdCMN16Btn > span {
  width: 18px;
  height: 19px;
  background-position: -644px -34px;
  vertical-align: top;
}

@media only screen and (min-width: 1130px) {
  .MdCMN02TopicPath {
    margin-left: 50px;
  }

  .MdCMN03PageTop {
    display: none;
  }

  .MdCMN05Content .mdCMN05Item {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }
  .MdCMN05Content .mdCMN05Txt {
    display: table-cell;
    max-width: 50%;
    background-color: #fbfbfb;
  }
  .MdCMN05Content .mdCMN05TxtBody {
    padding: 30px 20px;
  }
  .MdCMN05Content .mdCMN05Media {
    display: table-cell;
    width: 450px;
    text-align: right;
  }
}
@media only screen and (min-width: 0) and (max-width: 1129px) {
  .MdCMN01NavBtn {
    cursor: pointer;
    display: block;
  }
  .MdCMN01NavBtn .mdCMN01Btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    margin-top: -8.5px;
    margin-left: -12px;
  }
  .MdCMN01NavBtn .mdCMN01Item, .MdCMN01NavBtn .mdCMN01Item:before, .MdCMN01NavBtn .mdCMN01Item:after {
    display: block;
    position: relative;
    height: 3px;
    background-color: #dddddd;
  }
  .MdCMN01NavBtn .mdCMN01Item:before, .MdCMN01NavBtn .mdCMN01Item:after {
    content: "";
    top: 7px;
  }
  .MdCMN01NavBtn .mdCMN01Item:after {
    top: 11px;
  }

  .MdCMN02TopicPath {
    margin-left: 70px;
  }

  .MdCMN03PageTop {
    display: none;
  }

  .MdCMN05Content .mdCMN05Txt,
  .MdCMN05Content .mdCMN05Media {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .MdCMN05Content .mdCMN05Txt {
    width: 100%;
  }
  .MdCMN05Content .mdCMN05Media {
    width: 450px;
  }

  .MdCMN16SearchBox {
    right: 30px;
  }
}

</style>