<colgroup>
  <col style="width: 150px;">
  <col style="width: 250px;">
  <col style="width: 100px;">
  <col style="width: 150px;">
  <col style="width: 300px;">
</colgroup>
<thead>
  <tr>
      <th>Parameter</th>
      <th>Value</th>
      <th>Type</th>
      <th>Required</th>
      <th>Description</th>
      <!-- <th>Remark</th> -->
  </tr>
</thead>