<pre style="white-space: pre-wrap; word-wrap: break-word;" class="prettyprint">{{example_res}}</pre>
{% include "../error.html" %}
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sidebars" style="visibility: hidden;">
<div class="sidebar right">
<iframe width="100%" height="90%" src="{{swagger_url}}/#/default/{{swagger_action}}" allowfullscreen></iframe>
<a href="#" class="btn btn-primary" data-action="toggle" data-side="right">close</a>
</div>
</div>
</body>
{% include "../footer.html" %}