<!DOCTYPE html>
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% include "header.html" %}
<body>
<div class="LyWrap">
<!--CONTENTS-AREA-->
    <div class="LyContents">
        <div class="lyContentsInner MdCF">
        <!--MAIN-CONTENTS-AREA-->
            <div class="LyMainWrap">
                {% include "menu.html" %}
                <div class="LyMain ExFluid" role="main">
                    <div class="lyMainContent" style="padding-top: 40px;">
                        <div class="MdBox01P01"><h1>{{name}}</h1></div>
                        <!--Subject-->
                        <span class="MdAnchor01P01"></span>
                        <h2>Endpoint - https://{{host}}</h2>
                        <h2>Method - {{api_method}}</h2>
                        <h2>Path - {{api_url}}</h2>
                        <h2>Headers</h2>
                        <pre class="prettyprint">x-api-key: {x-token-key} Content-Type: application/json</pre>
                        <h2>Example <a href="#" class="btn btn-primary" data-action="toggle" data-side="right"> <img  width="80" height="30" src="../images/swagger-logo-horizontal.jpeg" alt="Flowers in Chania"></a></h2>
                        <pre class="prettyprint">https://{{host}}{{api_url}}</pre>