{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>id</td>
                <td>"ASF0000000001"</td>
                <td>String</td>
                <td>No</td>
                <td>ID Thai or Passport Number</td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"0851001111"</td>
                <td>String</td>
                <td>No</td>
                <td>either "mobile" or "email"</td>
            </tr> 
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td>either "mobile" or "email"</td>
            </tr>  
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td>mandatory if have "mobile"</td>
            </tr> 
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>      
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>card_no</td>
                <td>"1231555623"</td>
                <td>String</td>
                <td>Yes</td>
                <td>The 1 card number</td>
            </tr>
            <tr>
                <td>online_email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>has_pin</td>
                <td>true</td>
                <td>boolean</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>has_online_member</td>
                <td>true</td>
                <td>boolean</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>thai_name</td>
                <td>{ first: “โทนี่”, last: “สตาร์ค” }</td>
                <td>Object</td>
                <td>No</td>
                <td>either "thai_name" or "english_name"</td>
            </tr>
            <tr>
                <td>english_name</td>
                <td>{ first: “tony”, last: “stark” }</td>
                <td>Object</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>profile_picture_url</td>
                <td>http://image/a2341542e</td>
                <td>String</td>
                <td>Yes</td>
                <td>Profile image URL</td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"0851001111"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr> 
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr> 
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}