<!DOCTYPE html>
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% include "header.html" %}
<body>
<div class="LyWrap">
<!--CONTENTS-AREA-->
    <div class="LyContents">
        <div class="lyContentsInner MdCF">
        <!--MAIN-CONTENTS-AREA-->
        <div class="LyMainWrap">
            {% include "menu.html" %}
            <div class="LyMain ExFluid" role="main">
                <div class="lyMainContent" style="padding-top: 40px;">
                <div class="MdBox01P01">
                    <div class="MdHead01P01"><h1>Check Customer Exitst</h1></div>
                    <!--Subject-->
                    <span class="MdAnchor01P01"></span>
                    <h2>Endpoint - https://passport.the-1-card.com</h2>
                    <h2>Method - GET</h2>
                    <h2>Path - /v2/t1c/check_customer_exist</h2>
                    <h2>Headers</h2>
                    <pre class="prettyprint">x-api-key: {x-token-key}<br>Content-Type: application/json</pre>
                    <h2>Example <a href="#" class="btn btn-primary" data-action="toggle" data-side="right"> <img  width="80" height="30" src="../images/swagger-logo-horizontal.jpeg" alt="Flowers in Chania"></a></h2>
                    <pre class="prettyprint">https://passport.the-1-card.com/v2/t1c/check_customer_exist?id=ASF0000000001</pre>
                    <p>request params</p>
                    <div class="MdTbl02P01">
                        <table>
                            {% include "../table_bar.html" %}
                            <tbody>
                                <tr>
                                    <td>id</td>
                                    <td>"ASF0000000001"</td>
                                    <td>String</td>
                                    <td>No</td>
                                    <td>ID Thai or Passport Number</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        
                    <p>response success params (http code 2xx)</p>
                    <div class="MdTbl02P01">
                        <table>
                            {% include "../table_bar.html" %}
                            <tbody>
                                <tr>
                                    <td>has_online_member</td>
                                    <td>true</td>
                                    <td>boolean</td>
                                    <td>Yes</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pre style="white-space: pre-wrap; word-wrap: break-word;" class="prettyprint">{<br>"has_online_member": true<br>}</pre>
                    {% include "../error.html" %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebars">
    <div class="sidebar right">
        <iframe width="100%" height="90%" src="http://127.0.0.1:1337/swagger/api-docs/#/default/put_token" allowfullscreen></iframe>
        <a href="#" class="btn btn-primary" data-action="toggle" data-side="right">close</a>
    </div>
</div>
</body>
{% include "../footer.html" %}
