{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>thai_name</td>
                <td>{ first: “โทนี่”, last: “สตาร์ค” }</td>
                <td>Object</td>
                <td>No</td>
                <td>either "thai_name" or "english_name"</td>
            </tr>
            <tr>
                <td>english_name</td>
                <td>{ first: “tony”, last: “stark” }</td>
                <td>Object</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>dob</td>
                <td>“2017-12-31”</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>id</td>
                <td>"0000000000001"</td>
                <td>String</td>
                <td>Yes</td>
                <td>Thai ID or Passport Number</td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"08510011111"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>channel</td>
                <td>"partner:xxx"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>accept_marketing_email</td>
                <td>"false"</td>
                <td>boolean</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>method</td>
                <td>"mobile"</td>
                <td>String</td>
                <td>Yes</td>
                <td>either "mobile" or "website" </td>
            </tr>
            <tr>
                <td>password</td>
                <td>"111QQQqq"</td>
                <td>String</td>
                <td>No</td>
                <td>8 letters password.</td>
            </tr>
            <tr>
                <td>pin</td>
                <td>"123456"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>country_id</td>
                <td>"11"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>nationality_id</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td>either "id" or "mobile" or "email"</td>
            </tr>
            <tr>
                <td>partner_member</td>
                <td>"{id: "t1c", partner_id: "t1c"}"</td>
                <td>Object</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>project_name</td>
                <td>"partner"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>user_id</td>
                <td>"4d5yy-saar43asd-34dfra-sd445-frer5422"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>pin</td>
                <td>"123456"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr> 
            <tr>
                <td>activate_callback_url</td>
                <td>"www.the-1-card.com"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr> 
            <tr>
                <td>gender</td>
                <td>"M"</td>
                <td>String</td>
                <td>No</td>
                <td>Valid values are either M or F  or U (others)</td>
            </tr> 
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>t1c_id</td>
                <td>"2B3040AF"</td>
                <td>String</td>
                <td>Yes</td>
                <td>T1C unique user id</td>
            </tr>
            <tr>
                <td>thai_name</td>
                <td>{ first: “โทนี่”, last: “สตาร์ค” }</td>
                <td>Object</td>
                <td>No</td>
                <td>either "thai_name" or "english_name"</td>
            </tr>
            <tr>
                <td>english_name</td>
                <td>{ first: “tony”, last: “stark” }</td>
                <td>Object</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>dob</td>
                <td>“2017-12-31”</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>id</td>
                <td>"0000000000001"</td>
                <td>String</td>
                <td>Yes</td>
                <td>Thai ID or Passport Number</td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"08510011111"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>country_id</td>
                <td>"11"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>nationality_id</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td>either "id" or "mobile" or "email"</td>
            </tr>
            <tr>
                <td>gender</td>
                <td>"M"</td>
                <td>String</td>
                <td>No</td>
                <td>Valid values are either M or F  or U (others)</td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}