{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>id</td>
                <td>"0000000000001"</td>
                <td>String</td>
                <td>Yes</td>
                <td>Thai ID or Passport Number</td>
            </tr>
            <tr>
                <td>card_no</td>
                <td>"2001241411"</td>
                <td>String</td>
                <td>Yes</td>
                <td>the1card number</td>
            </tr>
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>password</td>
                <td>"111QQQqq"</td>
                <td>String</td>
                <td>No</td>
                <td>8 letters password.</td>
            </tr>
            <tr>
                <td>partner_member</td>
                <td>"{id: "t1c", partner_id: "t1c"}"</td>
                <td>Object</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"08510011111"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td>if method = mobile , mobile_country is mandatory</td>
            </tr>
            <tr>
                <td>method</td>
                <td>"mobile"</td>
                <td>String</td>
                <td>Yes</td>
                <td>either "mobile" or "website" </td>
            </tr>
            <tr>
                <td>pin</td>
                <td>"123456"</td>
                <td>String</td>
                <td>No</td>
                <td>if method = mobile , pin is mandatory</td>
            </tr>
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>t1c_id</td>
                <td>"2B3040AF"</td>
                <td>String</td>
                <td>Yes</td>
                <td>T1C unique user id</td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}