{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody> 
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr> 
            <tr>
                <td>callback_url</td>
                <td>"http://the-1-card.com"</td>
                <td>String</td>
                <td>No</td>
                <td>URL for redirect after user reset password.</td>
            </tr>    
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody></tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}