{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
        <tr>
            <td>thai_name</td>
            <td>{ first: “โทนี่”, last: “สตาร์ค” }</td>
            <td>Object</td>
            <td>No</td>
            <td>either "thai_name" or "english_name"</td>
        </tr>
        <tr>
            <td>english_name</td>
            <td>{ first: “tony”, last: “stark” }</td>
            <td>Object</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>cardNo</td>
            <td>5000031474</td>
            <td>String</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>totalBalancePoints</td>
            <td>100</td>
            <td>Number</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>expiringPoints</td>
            <td>0</td>
            <td>Number</td>
            <td>Yes</td>
            <td></td>
        </tr>
        <tr>
            <td>expiringDate</td>
            <td>"2017-08-08T17:22:00"</td>
            <td>String</td>
            <td>Yes</td>
            <td></td>
        </tr>        
    </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}