{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>grant_type</td>
                <td>"password"</td>
                <td>String</td>
                <td>Yes</td>
                <td>can set "password" or "pin"</td>
            </tr> 
            <tr>
                <td>id</td>
                <td>"1709900362123"</td>
                <td>String</td>
                <td>No</td>
                <td>either "id" or "mobile" or "email"</td>
            </tr>  
            <tr>
                <td>password</td>
                <td>"111QQQqq"</td>
                <td>String</td>
                <td>No</td>
                <td>is required if "grant_type" = "password"</td>
            </tr> 
            <tr>
                <td>mobile</td>
                <td>"0851001111"</td>
                <td>String</td>
                <td>No</td>
                <td>either "id" or "mobile" or "email"</td>
            </tr> 
            <tr>
                <td>pin</td>
                <td>"123456"</td>
                <td>String</td>
                <td>No</td>
                <td>is required if "grant_type" = "pin"</td>
            </tr> 
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td>either "id" or "mobile" or "email"</td>
            </tr>  
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td>mandatory if have "mobile"</td>
            </tr>               
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"4d5yy-saar43asd-34dfra-sd445-frer5422"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"0851001111"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile_countrty</td>
                <td>"66"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}
