{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"SSDeSFF-DD-SDW-9D84-XEXXCCC13"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>                        
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"4d5yy-saar43asd-34dfra-sd445-frer5422"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}