{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>request_redemption_id</td>
                <td>xxxx</td>
                <td>String</td>
                <td>Yes</td>
                <td>id</td>
            </tr>
            <tr>
                <td>customer_access_token</td>
                <td>2B3040AF-EAE6-4994-9D84-E238D7A2DE44</td>
                <td>String</td>
                <td>Yes</td>
                <td>token id</td>
            </tr>
            <tr>
                <td>customerBalancePoints</td>
                <td>1000</td>
                <td>Number</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>totalRedemptionPoints</td>
                <td>10</td>
                <td>Number</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>catalogId</td>
                <td>7BDF6D9B-E651-481D-943C-82F248AE0D0F:1</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>userId</td>
                <td>string</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>email</td>
                <td>weera@cenergy.co.th</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobilePhone</td>
                <td>0808080808</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>address</td>
                <td>Silom 19 building 45/1 Silom Road, Silom Bangrak Bangkok 10500</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>redeemChannel</td>
                <td>CentralOnlineRedemption</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mothod</td>
                <td>"mobile"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>ref_id</td>
                <td>"xxxx"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>request_redemption_id</td>
                <td>xxx</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}