{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>thai_name</td>
                <td>{ first: “โทนี่”, last: “สตาร์ค” }</td>
                <td>Object</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>english_name</td>
                <td>{ first: “จอน”, last: “โดน” }</td>
                <td>Object</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>dob</td>
                <td>“2017-12-31”</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>id</td>
                <td>"0000000000001"</td>
                <td>String</td>
                <td>No</td>
                <td>Thai ID or Passport</td>
            </tr>
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>mobile_number</td>
                <td>"08510011111"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>channel</td>
                <td>"partner:wechat"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>accept_marketing_email </td>
                <td>false</td>
                <td>boolean</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>password</td>
                <td>"111QQQqq"</td>
                <td>String</td>
                <td>No</td>
                <td>8 letters password.</td>
            </tr>
            <tr>
                <td>pin</td>
                <td>"123456"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>nonce_register_token</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}