{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody> 
            <tr>
                <td>method</td>
                <td>"mobile"</td>
                <td>String</td>
                <td>Yes</td>
                <td>value is "mobile" or "email" </td>
            </tr>
            <tr>
                <td>mobile</td>
                <td>"0851001111"</td>
                <td>String</td>
                <td>No</td>
                <td>either "mobile" or "email"</td>
            </tr> 
            <tr>
                <td>email</td>
                <td>"test@test.com"</td>
                <td>String</td>
                <td>No</td>
                <td>either "mobile" or "email"</td>
            </tr>  
            <tr>
                <td>mobile_country</td>
                <td>"66"</td>
                <td>String</td>
                <td>No</td>
                <td>mandatory if have "mobile"</td>
            </tr> 
            <tr>
                <td>sender</td>
                <td>"the1card"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>  
            <tr>
                <td>channel</td>
                <td>"t1c"</td>
                <td>String</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>request_id</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>No</td>
                <td>Request ID of previous OTP request to allow new OTP sending. </td>
            </tr>              
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>request_id</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td>OTP Request Token</td>
            </tr>  
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}