{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody> 
            <tr>
                <td>ip_address</td>
                <td>"10.0.0.0"</td>
                <td>String</td>
                <td>No</td>
                <td>IP Address used by user for spam detection </td>
            </tr>
            <tr>
                <td>code</td>
                <td>"123456"</td>
                <td>String</td>
                <td>Yes</td>
                <td>PIN code submitted from user</td>
            </tr> 
            <tr>
                <td>method</td>
                <td>"mobile"</td>
                <td>String</td>
                <td>Yes</td>
                <td>value is "mobile" or "email" </td>
            </tr>    
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>verification_id</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td>ref transaction</td>
            </tr>  
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}