{% include "accounts/00_template_header.html" %}
<p>request params</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>nonce_register_token</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td>code</td>
                <td>"123456"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>
<pre style="white-space: pre-wrap; word-wrap: break-word; " class="prettyprint">{{example_req}}</pre>
<p>response success params (http code 2xx)</p>
<div class="MdTbl02P01">
    <table>
        {% include "../table_bar.html" %}
        <tbody>
            <tr>
                <td>customer_access_token</td>
                <td>"2B3040AF-EAE6-4994-9D84-E238D7A2DE44"</td>
                <td>String</td>
                <td>Yes</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% include "accounts/00_template_footer.html" %}