<!DOCTYPE html>
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% include "header.html" %}
<body>
<div class="LyWrap">

<!--CONTENTS-AREA-->
<div class="LyContents">
<div class="lyContentsInner MdCF">

<!--MAIN-CONTENTS-AREA-->
<div class="LyMainWrap">
  {% include "menu.html" %}
  <div class="LyMain ExFluid" role="main">
    <div class="lyMainContent" style="padding-top: 40px;">
    <div class="MdBox01P01">
        <div class="MdHead01P01">
            <h1>Request Redemption Online</h1>
        </div>
            <!--Subject-->
            <span class="MdAnchor01P01"></span>
            <h2>Endpoint - https://api.central.tech/t1c</h2>
            <h2>Method - PUT</h2>
            <h2>Path - /v1/change_mobile_redemption</h2>
            <p>request params</p>
            <div class="MdTbl02P01">
                <table>
                    {% include "../table_bar.html" %}
                    <tbody>
                        <tr>
                            <td>nonce_redemption_token</td>
                            <td>2B3040AF-EAE6-4994-9D84-E238D7A2DE44</td>
                            <td>String</td>
                            <td>Yes</td>
                            <td>nonce 1 time redemption token</td>
                        </tr>
                        <tr>
                            <td>mobile</td>
                            <td>"0841244422"</td>
                            <td>Number</td>
                            <td>Yes</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>mobile_country</td>
                            <td>"66"</td>
                            <td>String</td>
                            <td>No</td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <!-- {
                "customerId": "2B3040AF-EAE6-4994-9D84-E238D7A2DE44",
                "customerBalancePoints": 1000,
                "totalRedemptionPoints": 10,
                "catalogId": "7BDF6D9B-E651-481D-943C-82F248AE0D0F:1",
                "quantity": 10,
                "userId": "string",
                "email": "weera@cenergy.co.th",
                "mobilePhone": "0808080808",
                "address": "Silom 19 building 45/1 Silom Road, Silom Bangrak Bangkok 10500",
                "redeemChannel": "CentralOnlineRedemption"
            } -->
            <p>response success params (http code 2xx)</p>
            <div class="MdTbl02P01">
                <table>
                    {% include "../table_bar.html" %}
                    <tbody>
                        <tr>
                            <td>nonce_redemption_token</td>
                            <td>xxx</td>
                            <td>String</td>
                            <td>Yes</td>
                            <td></td>
                            <!-- <td>"nonce_token" as 1 time token for charging</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>response error params (http code 4xx,5xx)</p>
            <div class="MdTbl02P01">
                <table>
                    {% include "../table_bar.html" %}
                    <tbody>
                        <tr>
                            <td>error_code</td>
                            <td>xxx</td>
                            <td>String</td>
                            <td>Yes</td>
                            <td>Error code status. </td>
                        </tr>
                        <tr>
                            <td>message</td>
                            <td></td>
                            <td>String</td>
                            <td>Yes</td>
                            <td>Description.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
